@import "../styles.scss";

header {
    margin: 14px 300px 56px 21px;
  
}

.login-container {
    display: flex;
    @include simple-flex (center, center, column);
    height: 100%;/*para deixar no meio da tela*/

    @media (min-width:$breakpoint-tablet){
        flex-direction: row;
        gap: 40px;
        background-color: $background-secundary;
    }

    .insta-mock {
        display: none;

        @media (min-width: $breakpoint-tablet) {
            display: block;
        }
    }
    .form-container {
        display: flex;
        @include simple-flex (center, center, column);
        width: 100%;
        padding: 0px 16px;
        box-sizing: border-box;
        

        @media (min-width: $breakpoint-tablet) {
            max-width: 350px;/*largura max do container quando vira desktop*/
            background-color: $background-primary;
            padding: 30px 40px;
            border: 1px solid gray;
        }

        .logo-img {
            width: 182px;
            height: auto;/*important pra não desforcar a img, para manter a proporção*/ 
            margin-bottom: 39px;
        }
   
        .input-form {
            font-size: 1.4rem;
            width: 100%;
            height: 44px;
            margin: 6px 0;
            padding: 0 15px;
            box-sizing: border-box;
            border: 0.5px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background-color: $background-primary;
            color: $text-color;

            &:focus {
                outline: none;/*tira a linha em volta do box quando ele está em foco*/
            }

            &::placeholder {
                color: rgba(0, 0, 0, 0.2);
                /*para mudar o placeholder*/
            }
        }

        .forgot-password {
            color: $highLight-color;
            font-size: 1.2rem;
            margin-top: 13px;
            font-weight: 500;
            text-decoration: none;
            align-self: flex-end;
        }

        .link-submit {
            width: 100%;
            
            .botao-submit {
                width: 100%;
                background-color: $highLight-color;
                border: none;
                border-radius: 5px;
                height: 44px;
                color:$highLight-contrast-color;
                margin-top: 30px;
                margin-bottom: 38.5px;
                cursor: pointer;
               
            }
        }
    }

    

    p {
        font-size: 1.2rem;
        color: $text-color;
        margin-bottom: 41.5px;
    }    

    .sign-up {
        font-size: 1.4rem;
        color:$text-lightcolor;
        font-weight: 400;
        margin-bottom: 13px;
    }
        
        a {
            color: $highLight-color;
            text-decoration: none;
        }
    
        .bottom {
            font-size: 1.2rem;
            margin-bottom: 18.5px;
            color: $text-lightcolor;
        }
    
        .bottom-line {
            margin-bottom: 9px;
            position: absolute;
            background-color:#060606;
        }

    .bottomLogin {
            @include simple-flex (center, center, column);
        
        .facebook-area {
                justify-content: space-between;
                margin-bottom: 41px;
            
            .facebook-login {
                    color: $highLight-color;
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-bottom: 41px;
            }
        }
    }
    
}

