$background-primary: #fafafa;
$background-secundary:#f2f2f2;


$text-color: #262626;
$text-lightcolor : #00000066;
$highLight-color: #3797ef;
$highLight-contrast-color:#fff;

$breakpoint-tablet: 768px; /*para usar no @media*/

